include ./header.pug
main.main__container
    section.main__section
        img.main__img(src="assets/form_bg.jpg")
        p.main__title1 WELLCOME 
        p.main__title2 USUARIO DE TURNO
        a(href="http://localhost:3000/search")
            button.dashboard__search__button(type="click") SEARCH
        a(href="http://localhost:3000/mymovies")
            button.dashboard__mymovies__button(type="click") MY MOVIES
        form(action="/dashboard", method="post")
            button.dashboard__logout__button(type="submit") LOG OUT
        img.main__gif(src="assets/gif_home_ok.gif", type="gif")