doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title FILMS
    body 
        section.header__search
            form(action="/admin", method="post")
                button.header__admin__logout__button(type="submit") LOGOUT
            a(href="/dashboard") 
                button.header__admin__dash__button(type="click") GO DASH  
    
            