include ./header.pug
main.main__container
    section.home__section
        img.main__img(src="assets/form_bg.jpg")
        p.home__title1 WELLCOME TO
        p.home__title2 YOUR MOVIE DB
        button.home__signup__button(type="click") SIGN UP
        button.home__login__button(type="click") LOG IN
        button.home__google__button(type="click") GOOGLE
        img.main__gif(src="assets/gif_home_ok.gif", type="gif")

include ./footer.pug
