include ./header.pug
main.main__container
    section.main__section
        img.main__img(src="assets/form_bg.jpg")
        p.main__title1 LOG IN AND KEEP
        p.main__title2 ON ENJOING
        P.mail__description EMAIL :
        input.mail__imput(type="text", placeholder="Please, enter your email", required) 
        P.pass__description PASSWORD :
        input.pass__imput(type="password", placeholder="Please, enter your password", required) 
        button.login__button(type="submit") LOG IN
        img.main__gif(src="assets/gif_home_ok.gif", type="gif")
include ./footer.pug
