include ./header_search_list.pug 
div.separador_up
div.search__flex
    each val in films.Search
        main.search__container
            img.search__bg__img(src="/assets/form_bg.jpg")
            section.films__section
                p.search__title= val.Title.toUpperCase()
                p.search__year= `${val.Year} / ${val.Type.toUpperCase()}`
                img.search__img(src=`${val.Poster}`)
                div.search__botton__container
                    a(href="/searchone/"+val.Title)
                        button.viewMore__button(type="click") VIEW TITLE
                    button.addFavorites(type="click")
                        img.addFavorites__button(type="img",src="/assets/corazon.png")
div.separador_down
a.favorites__link(href="/mymovies")
    button.gofavorites__button(type="click") MY MOVIES