doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Document
    body 
        section.error400__container
            img.error400__img(src="/assets/200_delete.jpg")
            div.error400__text
                p DELETE MOVIE SUCCESSFUL!
            a(href="/admin")
                button.error__button(type="click") BACK TO MOVIES

