// BODY
body {
  display: flex;
  align-items: center;
  flex-flow: column;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  background: linear-gradient(
    90deg,
    rgb(180, 180, 180) 0%,
    rgb(255, 255, 255) 50%,
    rgb(180, 180, 180) 100%
  );
  height: 100vw;
}
//HEADER&FOOTER
.header__search,
.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  margin: 0px;
  width: 100vw;
  height: 50px;
  background: linear-gradient(
    -90deg,
    rgba(65, 90, 119, 1) 0%,
    rgba(13, 27, 42, 1) 100%
  );
  box-shadow: 2px 8px 10px #010e1483;
  border-radius: 0px;
}
.header__search {
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 0;
}

.separador_up {
  padding: 20px;
}
.separador_down {
  padding: 30px;
}
.favorites__link {
  position: fixed;
  bottom: 15px;
  .gofavorites__button {
    color: white;
    border: transparent;
    width: 230px;
    height: 25px;
    border-radius: 50px;
    font-weight: 400;
    cursor: pointer;
    background: #f9844a;
    box-shadow: 0px 0px 3px #ffffffbc;
  }
}
.header__admin__dash__button,
.header__admin__logout__button {
  color: white;
  margin: 2px;
  border: transparent;
  width: 100px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  cursor: pointer;
}
.header__admin__dash__button {
  border-radius: 0px 50px 50px 0px;
}
.header__admin__dash__button:hover {
  background-color: #f9844a;
  font-weight: 600;
}
.header__admin__logout__button {
  border-radius: 50px 0px 0px 50px;
}
.header__admin__logout__button:hover {
  background-color: rgb(214, 51, 51);
}
//HOME
.main__container {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 50px;
  height: 445px;
  .main__section {
    width: 300px;
    height: 424px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    .main__img {
      position: absolute;
      z-index: -10;
      border-radius: 5px;
      width: 300px;
      top: 0;
      margin-top: 70px;
      box-shadow: 0px 8px 13px #000000be;
    }
    .main__title1,
    .main__title2 {
      font-size: 20px;
      margin: 0;
      color: white;
      text-align: center;
      font-weight: 800;
    }
    .main__title1 {
      margin-top: 30px;
    }
    .main__gif {
      width: 300px;
      height: 30%;
      opacity: 25%;
    }
    .home__signup__button,
    .home__login__button {
      color: white;
      margin: 13px;
      border: transparent;
      width: 230px;
      height: 25px;
      border-radius: 50px;
      background-color: rgba(255, 255, 255, 0.5);
      font-weight: 400;
      cursor: pointer;
    }
    .home__google__button {
      color: white;
      margin: 13px;
      border: transparent;
      width: 230px;
      height: 25px;
      border-radius: 50px;
      font-weight: 400;
      cursor: pointer;
      margin-bottom: 30px;
      background: rgba(255, 255, 255, 0.5);
    }
    .home__signup__button {
      margin-top: 30px;
    }
    .home__signup__button:hover,
    .home__login__button:hover {
      font-weight: 600;
      background-color: #f9844a;
    }
    .home__google__button:hover {
      color: white;
      border: #e0e1dd solid 1px;
      font-weight: 600;
      background: linear-gradient(
        40deg,
        rgba(62, 128, 238, 1) 0%,
        rgba(0, 255, 131, 1) 25%,
        rgba(255, 188, 0, 1) 52%,
        rgba(219, 68, 55, 1) 85%
      );
    }
  }
}
// LOGIN&SIGNUP
.signup__button,
.login__button {
  color: white;
  margin: 13px;
  border: transparent;
  width: 230px;
  height: 25px;
  border-radius: 50px;
  background-color: #f9844ae3;
  font-weight: 400;
  cursor: pointer;
}
.mail__input,
.pass__input,
.signup__mail,
.signup__surname,
.signup__name,
.signup__pass1,
.signup__pass2,
.signup__url {
  color: white;
  margin: 3px 0px 13px;
  border: transparent;
  height: 25px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  transition: 0.3s;
  width: 220px;
  padding: 0px 0px 0px 10px;
  border: none;
  outline: 0;
}
.signup__pass1::placeholder,
.signup__pass2::placeholder {
  color: #e0e1dd;
  font-size: 10px;
}
.file__description {
  color: white;
  font-size: 10px;
  margin: 0px 5px 0px 0px;
  align-self: center;
}
.signup__mail__description,
.pass__description,
.mail__description {
  color: white;
  font-size: 10px;
  margin: 0px 0px 0px 40px;
  align-self: flex-start;
}
.mail__description {
  margin-top: 20px;
}

.forgot__pass {
  color: white;
  font-size: 10px;
}

.signup__gif {
  display: none;
  width: 300px;
  height: 30%;
  opacity: 25%;
}

.signup__title {
  font-size: 20px;
  margin: 10px;
  color: white;
  text-align: center;
  font-weight: 800;
}
.label__file__input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #0d1b2a;
  background-color: #e0e1dd;
  width: 100px;
  height: 20px;
  font-weight: 400;
  font-size: 12px;
  transition: 0.3s;
  margin: 10px 0px 10px;
  border: none;
  outline: 0;
}
//DASHBOARD
.dashboard__search__button,
.dashboard__logout__button,
.dashboard__mymovies__button {
  color: white;
  border: transparent;
  width: 230px;
  height: 25px;
  border-radius: 50px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.5);
}
.dashboard__search__button {
  margin-top: 30px;
}
.dashboard__search__button:hover,
.dashboard__mymovies__button:hover {
  font-weight: 600;
  background: #f9844a;
}
.dashboard__logout__button:hover {
  font-weight: 600;
  background: rgb(214, 51, 51);
}

//SEARCH_TITLE
.search__searcher__input {
  color: white;
  border: transparent;
  height: 25px;
  border-radius: 50px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  transition: 0.3s;
  width: 220px;
  padding: 0px 10px 0px 10px;
  border: none;
  outline: 0;
}
.search__searcher__input::placeholder {
  color: #ffffff;
  font-size: 12px;
}
.search__searcher__button {
  color: white;
  margin: 5px;
  border: transparent;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background-color: #f9844ae3;
  font-weight: 400;
  cursor: pointer;
}
.searchone__comments__title {
  text-align: justify;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-flow: column;
  width: 280px;
  background: linear-gradient(
    -90deg,
    rgb(30, 51, 75) 0%,
    rgba(13, 27, 42, 1) 100%
  );
  color: white;
  text-align: center;
}

.searchone__comments__section {
  text-align: justify;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 50px;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-flow: column;
  width: 280px;
  background: linear-gradient(
    -90deg,
    rgb(30, 51, 75) 0%,
    rgba(13, 27, 42, 1) 100%
  );
  box-shadow: 0px 8px 13px #000000be;
  .comment__article {
    width: 220px;
    .comment__name {
      color: #f9844a;
      font-size: 10px;
      margin: 5px 0px 5px 10px;
    }
    .comment__content {
      color: #ffffff;
      font-size: 10px;
      margin: 5px 0px 5px 10px;
    }
  }
}
.search__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
  margin-top: 20px;
  height: 445px;

  .search__bg__img {
    margin-top: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 8px 13px #000000be;
  }
  .films__section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    margin-top: -425px;
    height: 420px;
    .search__title {
      color: white;
      width: 270px;
      margin: 15px 0px 0px;
      font-size: 18px;
      text-align: center;
      font-weight: 500;
    }
    .search__year,
    .search__type {
      color: #e0e1dd;
      width: 270px;
      margin: 5px;
      text-align: center;
      font-size: 15px;
      font-weight: 800;
    }
    .search__img {
      border: 1px solid white;
      border-radius: 5px;
      height: 250px;
      max-width: 250px;
      box-shadow: 0px 0px 8px #ffffff80;
    }
    .search__botton__container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }
    .viewMore__button {
      color: white;
      margin: 13px;
      border: transparent;
      width: 120px;
      height: 30px;
      border: #ffffff solid 1px;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.5);
      font-weight: 400;
      cursor: pointer;
    }
    .viewMore__button:hover {
      font-weight: 600;
      background-color: #f9844a;
    }
  }
}
.addFavorites {
  padding: 0px;
  margin: 12px;
  height: 30px;
  border: transparent;
  background-color: transparent;

  .addFavorites__button {
    width: 30px;
    cursor: pointer;
    transition: 0.5s;
  }
  .addFavorites__button:hover {
    filter: drop-shadow(0 0px 5px #f9844a);
    transform: scale(1.1);
  }
  .addFavorites__button:active {
    transform: scale(1.1) rotateY(360deg);
  }
}
// SEARCHONE
.searchone__container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;
}
.searchone__bg__img {
  margin-top: 20px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 8px 13px #000000be;
}

.searchone__section {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin-top: -425px;
  height: 424px;
  .searchone__title {
    text-align: center;
    width: 280px;
    color: white;
    font-size: 20px;
    margin: 0px 0px 5px 0px;
    font-weight: 500;
  }
  .searchone__img {
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #ffffff80;
    height: 320px;
    margin-top: 5px;
  }
}
.delete__section,
.edit__info__section,
.searchone__info__section {
  text-align: justify;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-flow: column;
  width: 280px;
  background: linear-gradient(
    -90deg,
    rgb(30, 51, 75) 0%,
    rgba(13, 27, 42, 1) 100%
  );
  box-shadow: 0px 8px 13px #000000be;
  .searchone__type {
    color: #f9844a;
    font-size: 10px;
    margin: 2px 10px;
  }
  .searchone__info {
    color: #ffffff;
    font-size: 11px;
    margin: 2px 10px;
  }
  .searchone__botton__container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    .back__button {
      color: white;
      margin: 13px 13px 5px;
      border: transparent;
      width: 120px;
      height: 30px;
      border: #ffffff solid 1px;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.5);
      font-weight: 400;
      cursor: pointer;
    }
    .back__button:hover {
      font-weight: 600;
      background-color: #f9844a;
    }
    .addFavorites {
      margin: 13px 13px 5px;
    }
  }
}
.delete__section,
.edit__info__section {
  margin-bottom: 50px;
}
// MOVIES_ADMIN
.edit__button {
  color: white;
  margin: 10px;
  border: transparent;
  width: 120px;
  height: 30px;
  border: #ffffff solid 1px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}
//FAVORITES
.deleteFavorites {
  padding: 0px;
  padding-top: 3px;
  margin: 12px;
  height: 30px;
  border: transparent;
  background-color: transparent;
  .reset__button,
  .deleteFavorites__button {
    width: 25px;
    cursor: pointer;
    transition: 0.5s;
  }
  .deleteFavorites__button:hover {
    filter: drop-shadow(0 0px 5px #ff0000);
    transform: scale(1.1);
  }
  .reset__button:hover {
    filter: drop-shadow(0 0px 5px #ff0000);
    transform: scale(1.1);
  }
  .deleteFavorites__button:active {
    transform: scale(1.1) rotateY(360deg);
  }
  .reset__button:active {
    transform: scale(1.1) rotateZ(-360deg);
  }
}
//EDIT
.two__inputs {
  display: flex;
  flex-flow: row;
  text-align: center;
}
.edit__type {
  color: #f9844a;
  font-size: 10px;
  width: 114px;
  margin: 0px 10px 0px 10px;
}
.edit__input__url,
.edit__input__type,
.edit__input__genre,
.edit__input__duration,
.edit__input__rating,
.edit__input__year {
  margin: 5px 10px 5px 10px;
  border: transparent;
  width: 110px;
  height: 15px;
  border-radius: 10px;
}
.edit__input__name,
.edit__input__director,
.edit__input__cast {
  margin: 5px 10px 5px 10px;
  border: transparent;
  height: 15px;
  width: 90%;
  border-radius: 10px;
  color: #0d1b2a;
}

.edit__input__resume {
  width: 90%;
  margin: 5px 10px 5px 10px;
  border: transparent;
  height: 60px;
  border-radius: 10px;
  color: #0d1b2a;
}

.edit__info__section {
  align-items: center;
}
.edit__title {
  text-align: center;
  font-size: 10px;
  margin: 0px 0px 5px 10px;
  color: white;
  text-align: center;
  font-weight: 600;
}
//DELETE

.delete__section {
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    margin: 10px 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
  .delete__gif {
    margin: 10px 10px;
    border-radius: 5px;
    width: 90%;
  }
}

//ERROR 400
.error400__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  .error400__img {
    border-radius: 5px 5px 0px 0px;
    height: 165px;
    width: 320px;
  }
  .error400__text {
    border-radius: 0px 0px 5px 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #f9844a;
    color: white;
    font-size: 15px;
    font-weight: 600;
    width: 300px;
    padding: 10px;
    p {
      margin: 5px;
    }
  }
  .error__button {
    border-radius: 50px;
    border: transparent;
    color: white;
    background-color: #f9844a;
    height: 25px;
    width: 150px;
  }
  .error__button:hover {
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .searchone__bg__img {
    margin-right: 15px;
  }
  .searchone__comments__title {
    width: 585px;
  }
  .searchone__comments__section {
    display: flex;
    flex-flow: row;
    margin-bottom: 20px;
    width: 585px;
    .comment__article {
      width: 290px;
      margin: 5px;
      .comment__name {
        color: #f9844a;
        font-size: 10px;
        margin: 5px 5px 5px 5px;
      }
      .comment__content {
        color: #ffffff;
        font-size: 10px;
        margin: 5px 5px 5px 5px;
      }
    }
  }
  .searchone__container {
    flex-flow: row;
  }
  .searchone__section {
    margin-top: 0px;
    margin-left: -305px;
  }
  .delete__section,
  .edit__info__section,
  .searchone__info__section {
    justify-content: space-between;
    margin: 19px 0px 0px 0px;
    height: 405px;
  }
  .delete__section {
    justify-content: center;
  }
  .edit__info__section {
    align-items: flex-start;
  }
  .searchone__section {
    margin-right: 15px;
  }
  .searchone__title {
    font-size: 20px;
  }
  .search__flex {
    width: 95vw;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
  }
  .search__container {
    margin: 10px;
    height: 430px;
  }
  .two__inputs {
    text-align: start;
  }
}
