body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  background: linear-gradient(-45deg, #b4b4b4 0%, white 100%);
  height: 100vw;
}

.header,
.footer {
  top: 0;
  position: fixed;
  margin: 0px;
  width: 100vw;
  height: 50px;
  background: -webkit-gradient(linear, right top, left top, from(#415a77), to(#0d1b2a));
  background: linear-gradient(-90deg, #415a77 0%, #0d1b2a 100%);
  -webkit-box-shadow: 2px 8px 10px #010e1483;
          box-shadow: 2px 8px 10px #010e1483;
  border-radius: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 50px;
  height: 445px;
}

.main__section {
  width: 300px;
  height: 424px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.main__img {
  position: absolute;
  z-index: -10;
  border-radius: 5px;
  width: 300px;
  top: 0;
  margin-top: 70px;
  -webkit-box-shadow: 0px 8px 13px #000000be;
          box-shadow: 0px 8px 13px #000000be;
}

.main__gif {
  width: 300px;
  height: 30%;
  opacity: 25%;
}

.main__title1,
.main__title2 {
  font-size: 20px;
  margin: 0;
  color: white;
  text-align: center;
  font-weight: 800;
}

.main__title1 {
  margin-top: 30px;
}

.home__signup__button,
.home__login__button {
  color: white;
  margin: 13px;
  border: transparent;
  width: 230px;
  height: 25px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  cursor: pointer;
}

.signup__button,
.login__button {
  color: white;
  margin: 13px;
  border: transparent;
  width: 230px;
  height: 25px;
  border-radius: 50px;
  background-color: #f9844ae3;
  font-weight: 400;
  cursor: pointer;
}

.home__google__button {
  color: white;
  margin: 13px;
  border: transparent;
  width: 230px;
  height: 25px;
  border-radius: 50px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.5);
}

.home__signup__button {
  margin-top: 30px;
}

.home__signup__button:hover,
.home__login__button:hover {
  font-weight: 600;
  background-color: #f9844a;
}

.home__google__button:hover {
  color: white;
  border: #e0e1dd solid 1px;
  font-weight: 600;
  background: linear-gradient(40deg, #3e80ee 0%, #00ff83 25%, #ffbc00 52%, #db4437 85%);
}

.pass__imput,
.mail__imput {
  color: white;
  margin: 3px 0px 13px;
  border: transparent;
  height: 25px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 220px;
  padding: 0px 0px 0px 10px;
}

.pass__imput::-webkit-input-placeholder,
.mail__imput::-webkit-input-placeholder {
  color: #e0e1dd;
  font-size: 10px;
}

.pass__imput:-ms-input-placeholder,
.mail__imput:-ms-input-placeholder {
  color: #e0e1dd;
  font-size: 10px;
}

.pass__imput::-ms-input-placeholder,
.mail__imput::-ms-input-placeholder {
  color: #e0e1dd;
  font-size: 10px;
}

.pass__imput::placeholder,
.mail__imput::placeholder {
  color: #e0e1dd;
  font-size: 10px;
}

.pass__description,
.mail__description {
  color: white;
  font-size: 10px;
  margin: 0px 0px 0px 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.mail__description {
  margin-top: 20px;
}

.forgot__pass {
  color: white;
  font-size: 10px;
}

.search__bg__img {
  margin-top: 40px;
  width: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 13px #000000be;
          box-shadow: 0px 8px 13px #000000be;
}

.search__year,
.search__type {
  color: #e0e1dd;
  width: 270px;
  margin: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
}

.search__title {
  color: white;
  width: 270px;
  margin: 15px 0px 0px;
  font-size: 18px;
  text-align: center;
  font-weight: 800;
}

.search__img {
  border: 1px solid white;
  border-radius: 5px;
  height: 250px;
  -webkit-box-shadow: 0px 0px 8px #ffffff80;
          box-shadow: 0px 0px 8px #ffffff80;
}

.films__section {
  margin-top: -420px;
}

.search__botton__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
/*# sourceMappingURL=styles.css.map */